<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="4.1.60623" requireReinstallation="true" />
  <package id="NLog" version="4.7.14" targetFramework="net40" requireReinstallation="true" />
  <package id="NLog.Config" version="4.7.14" targetFramework="net40" />
  <package id="NLog.Schema" version="4.7.14" targetFramework="net40" />
</packages>