html
{
	overflow-x: hidden;
	height: 100%;
}

* { padding: 0; outline: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body {	margin: 0; padding: 0;	font: 11px/1.6em  Verdana, Tahoma, Arial,sans-serif;color: #555; background: #FAFAFA; text-align: center; }

/* links */
.leftmenu {    border:1px solid lime;    width:100%;}

.leftmenu a:link, a:visited {	background-color: inherit;	text-decoration: none;	font-weight : normal; }



/* headers */
.invisible {
    display:none;
}

.ststusButton
{
  color:White;   

background: -webkit-gradient( linear, left top, left bottom, color-stop(0.1, #598526), color-stop(0.9, ##598526) );
background: -moz-linear-gradient( center top, #598526 10%, #598526 90% );

background-color: #598526;
-moz-box-shadow: inset 0px 1px 2px 0px #598526;
-webkit-box-shadow: inset 0px 1px  2px 0px #598526;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
font-weight: bold;
margin: 5px 5px;
padding: 6px 6px;
letter-spacing: 1px;
font-family: 'Arial', sans-serif;
width:125px;
text-transform: capitalize;
text-align: center;
text-decoration: none;

cursor: pointer;
display: inline-block;

    
    } 


.gridviewhome 
{
  font-size:8.5pt;
  font-family:Verdana;
  color:Black;
}
.EmptyDataRowStyle
{
 color:Red;
  font-size:8.5pt;
  font-family:Verdana; 
}

.gridheaderhome
{
  font-size:8.5pt;
  font-family:Verdana;
  color:Black;
       
 }
 .gridheaderhome a
 {
     text-decoration:none;
 }
 
.gridrowhome
{
  font-size:8.5pt;
  font-family:Verdana;
  color:Black;  
}



/* images */

#sidebar h1, 
#sidebar p {
	padding-left: 0;
}



code {
  margin: 5px 0;
  padding: 15px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
  border-left: 4px solid #FF9966;
}

acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}

blockquote {
	margin: 5px;
 	padding: 10px 15px 10px 32px;
  	background: url(quote.gif) no-repeat 5px 5px !important;
	background-position: 10px 10px;
	border-left: 0px solid #FF9966;
    font-weight: bold; 
}

/* form elements */

.search {
	margin:0px;
    padding:4px;
	border: 0px solid #f2f2f2; 
	background-color: #FAFAFA; 
}

.formSer {
	margin:0px;
    padding: 10px;
	border: 1px solid #f2f2f2; 
	background-color: #FAFAFA; 
}

.form {
	margin:5px;
    padding: 5px;
	border: 1px solid #f2f2f2; 
	background-color: #FAFAFA;
    color:black; 
}


label {
	font-weight:bold;
}

textarea {
	width:350px;
	padding:4px 5px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}



/* search form */
.form.search {
	position: absolute;
	top: 15px; right: 5px;
	padding: 0; margin: 0;
	border: none;
	background-color: transparent; 
}

.form h2
{

font-family: Tahoma, Verdana, Sans-serif;
font-weight: Bold; 
font-size: 14px;
padding: 0px 0px 0px 0px;	
color: #75A54B;
text-align:left;
text-transform:none;
border : none;   	
}

.Searchbtn { 
	margin: 0px; 
	font: bolder 12px Verdana, Sans-serif; 
	border: 1px solid #CCC; 
	padding: 4px 5px;
	background: #FFF;
	color: #75A54B;
	height:28px; 
}

.Searchtxt
{ 
	margin: 0; 
	width: 120px;
	border: 1px solid #CCC; 
	background: #FFF;
	color: #333; 	
	vertical-align: top;
}

.txtBox
{
  font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 0px;
    padding: 3px;
    border: solid 1px #85b1de;
    background-color: #EDF2F7;
}

.textboxThick { 
	margin: 0; 
	border: 3px solid #CCC; 
	background: #FFF;
	color: #333; 	
	vertical-align: top;
}


/* -------------------------------------
   LAYOUT
---------------------------------------- */
#wrap {
	margin: 0 auto; 
	padding: 10px; 
	width: 1000px;
	text-align: left;
	background-color : #fff; 
}



/* css style */

#wrapPublic {
	margin: 0 auto; 
	padding: 10px; 
	width: 1000px;
	text-align: left;
	background-color : #fff; 
}


#wrapPublic a {
	color: #254264;
    text-decoration: underline;
    background-color:Aqua;
    width:100px;
    height:50px;
    
     }

#wrapPublic a:hover
{
   text-decoration: none;  
   font-weight:bold;
}




/* header */
#header { 
	position: relative;
	height: 70px; 
	margin: 0; padding: 0;
	color: #808080; 		
}
#header h1#logo {
	position: absolute;	
	font: bold 3.9em "trebuchet MS", Arial, Tahoma, Sans-Serif;
	margin: 0; padding:0;
	color: #75A54B;
	letter-spacing: -2px;	
	border: none;	
	
	/* change the values of top and Left to adjust the position of the logo*/
	top: 0; left: 2px;		
}
#header h1#logo span { color: #F18359; }

#header h2#slogan { 
	position: absolute;
	margin: 0; padding: 0;	
	font: bold 11px Arial, Tahoma, Sans-Serif;
	text-transform: none;
	
	/* change the values of top and Left to adjust the position of the slogan*/
	top: 43px; left: 45px;
}



#rightbar {
	float: right;
	padding: 0px;
	margin: 0px;
	width: 100%;	
}

/* main column */
#main {
	margin:0px;
	padding: 0;
	width: 100%;	
}

.post-footer {
	background-color: #FAFAFA;
	padding: 5px; margin: 15px 10px 10px 10px;
	border: 1px solid #f2f2f2; 
	font-size: 95%;
}

.post-footer .date {
	background: url(images/clock.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .comments {
	background: url(images/comment.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .readmore {
	background: url(images/page.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}


.GridHeader{
	background: url(images/nav_hover.gif) repear-x;
}


/* footer */
#footer { 
	clear: both; 	
	color: #666666; 	
	background: #FFF url(images/footerbg.gif) repeat-x;
	height: 220px;
}

#footer a 
{
    color: #F9864D; 
	text-decoration: none; 
	font-weight: normal;
}
#footer-content {
	margin: 0 auto;
	width: 1020px
}

#footer-content h2 {
	font-family: Tahoma, Verdana, Sans-serif;	
	font-weight: Bold;
	font-size :11px;
	border-bottom:1px Solid lime;
	text-align : left;
	width:100%;    		
	text-transform: none ;
	}


#footer-content #footer-left {
	padding: 10px;
	width: 60%;
	float: left;
	text-align: left;
}
#footer-content #footer-right {
	padding: 10px;
	width: 35%;
	float: right;
	text-align: right;
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* additional classes */
.clear  { clear: both; }
.green  { color: #75A54B; }

 	.waterClassForm
 	{
		       color : InactiveCaption;
		       font-weight : bold; 
 		}

 	.waterClass
 	{
         font-family: Arial, Sans-Serif;
         font-size: 13px;
         margin-bottom: 0px;
         padding: 3px;
         border: solid 1px #85b1de;
         background-color: #fff;
         color : InactiveCaption;
		        
 	}


.btnNew
{
text-decoration: none; 
text-align: center;
font-weight: bold;
font-size : 12px; 
background: url(../images/pix.png) repeat-x;  
color:#fff; 
height: 24px;
}


.btnNew:hover 
{ 
	text-decoration: none; 
	background: url(../images/nav_hover.gif) repeat-x;  
	}


.box {
width: 100%;
float: left;
text-align:center;
overflow: hidden;
margin: 0px;
padding:0px;
background-color : #fff; 
}

.box h3
{
margin:0;
padding: 4px;
background: #D0D0D0;
text-align:center;
font-size:11px;
font-family: Verdana;
color: black ;
border:1px solid green;  
}



.modalBackground
{
  background-color:#CCCCFF;
  filter:alpha(opacity=40);
  opacity:0.5;
}

h1
{
	font-family: Cambria, Arial, Trebuchet MS;
	font-size: 14pt;
}

h2
{
	font-family: Cambria, Arial, Trebuchet MS;
	font-size: 13pt;
	color: #4E81C8;
}

img
{
    border: 0px;
}

a
{
    color: #254264;
    text-decoration: underline;
}

a:hover
{
    text-decoration: none;
}

.mainContainer
{
    width: 100%;
    background-color: #d9e4f3;
    border: 1px solid #3b5a82;
    border-bottom: 0px;
}



.textbox
{
	background-image: url(images/textboxbg.png);
	background-repeat: repeat-y;
	width: 809px;
	margin: 0px auto;
	
}

.textbox div
{
	width: 740px;
	margin: 0px auto;
	padding: 20px;
	overflow: hidden;
}

.divisionLeft{
width:70%;

float:left;
}

.divisionRight{
width:30%;
float:right;

}

.lblLink
{
         margin-left:30px;
           
}



.k-item 
{
    text-align: left;
}



#usefulllink a
{
    display:block;
    color:Blue;
    background-color:#FCFCFC;
        
}




.Menu{ margin-top:10px; background:#E2E2E2; display:none; }

.Menu ul{position:absolute; background:#E2E2E2; z-index:9999;}
.Menu ul li{background:#E2E2E2  ; margin-right:2px; text-align:left; border-radius:5px 5px 0 0; }
.Menu ul li a{ color: #000; font-weight:bold ; padding: 4px 2px 4px;    padding-left:8px !important;    border:1px solid #9d9d9d; border-radius:5px 5px 0 0;    border-bottom: 0;}
.Menu ul li a:hover{ background: #d8efca; color: #000000; margin-right:0px !important ;  }
    .Menu ul ul  li { margin-right:0px !important;         
        
    }



a:focus {
outline: none;
}

.cala 
{
    text-decoration:none;
    color : Blue;   
}

a.trigger{
	position: absolute;
	background:#88bbd4 url(images/plus.png) 6% 55% no-repeat;
	text-decoration: none;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding:4px 12px 6px 24px;
	font-weight: bold;
}

a.trigger.left {
	left: 180px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

a.trigger:hover {
	background-color:#59B;
}
a.active.trigger {
	background:#666 url(images/minus.png) 6% 55% no-repeat;
}

.panel {
	color:#CCC;
	position: absolute;
	display:none; 
	background: #E2E2E2;
	width: 990px;
	height: 500px;
	z-index:1;
}

.panel.left {
	left: 180px;
	padding: 1px 1px 1px 1px;
}
/*gridhome*/

.gridviewhome 
{
  font-size:8.5pt;
  font-family:Verdana;
  color:Black;
  
}

.gridheaderhome
{
  font-size:8.5pt;
  font-family:Verdana;
  color:Black;
       
 }
 .gridheaderhome a
 {
     text-decoration:none;
 }
 
.gridrowhome
{
  font-size:8.5pt;
  font-family:Verdana;
  color:Black;  
}



/*Dynamic Grid Design*/

.mGrid {   
    width: 100%;   
    background-color: #fff;   
    margin: 5px 0 10px 0;   
    border: solid 1px #525252;   
    border-collapse:collapse;   
}  
.mGrid td {   
    padding: 2px;   
    border: solid 1px #c1c1c1;   
    color: #717171;   
}  
.mGrid th {   
    padding: 4px 2px;   
    color: #fff;   
    background: #424242 url(grd_head.png) repeat-x top;   
    border-left: solid 1px #525252;   
    font-size: 0.9em;   
}  
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }  
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }  
.mGrid .pgr table { margin: 5px 0; }  
.mGrid .pgr td {   
    border-width: 0;   
    padding: 0 6px;   
    border-left: solid 1px #666;   
    font-weight: bold;   
    color: #fff;   
    line-height: 12px;   
 }     
.mGrid .pgr a { color: #666; text-decoration: none; }  
.mGrid .pgr a:hover { color: #000; text-decoration: none; }

.panel1 {
       color:#CCC;
       position: absolute;
       display:none; 
       background: #E2E2E2;
       width: 200px;
       height: 200px;
       z-index:1;
}


.panel1.right {
       right: 180px;
       padding: 1px 1px 1px 1px;
}

a.trigger.right {
       right: 180px;
       border-top-right-radius: 5px;
       -moz-border-radius-topright: 5px;
       -webkit-border-top-right-radius: 5px;
       -moz-border-radius-bottomright: 5px;
       -webkit-border-bottom-right-radius: 5px;
       border-bottom-right-radius: 5px;
}

.docbutton {
	margin-right:10px;  
}
  
  
  .GridView
  {
       width:100%;
       color:#333333;
  }
  .FooterStyle
  {
       background-color :#D0D0D0;
       font-weight:bold ;
       color:Black; 
  }
  .RowStyle
  {
      background-color:#F8F8F8;
  }
  .EditRowStyle
  {
      background-color:#2461BF;
  }
  .SelectedRowStyle
  {
       background-color:#D1DDF1;
       Font-weight:bold;
       Color:#333333;
  }
  .PagerStyle
  {
      background-color:#D0D0D0;
      color:Black;
      text-align:center;
  }
  .HeaderStyle
  {
      background-color:#D0D0D0;
      font-weight:bold ;
      border-width:2px;
      border-color:Green;
      color:Black;
      
  }
  .AlternatingRowStyle
  {
      background-color:White;
  }
      

.ErrorMessage 
{
  display:block;  
  font-size:11pt;
  font-family:Verdana;
  color:White;
  background-color:red; 
  text-align:center;
  font-weight:bold;   
}

.MainHomeLink {
font-size : 12px;
color:green;
text-decoration:none;
font-weight:bold;    
}  

.SSOLink {
font-size : 12px;
color:green;
text-decoration:none;
font-weight:bold;
display:block;      
}  

.menuhome
{
float:left;
width:100%;
padding:2px ;
margin:0;
list-style-type:none;
}
.menuhome a
{
float:left;
width:auto;
margin:0.1em;
text-decoration:none;
font-size:smaller;

color:black ;
background-color:#E2E2E2;
border-right:1px solid white;
}


/*Newly Added by Ajeet Kumar For form master ssv feture*/

.main2 { border:1px solid #598526; padding:0!important; margin:0!important;
        }

        .form-control {
       display: block;
       width: 100%;
       padding: 4px 8px;
    box-sizing: border-box;
       margin-bottom:5px;
       font-size: 14px;
       line-height: 1.428571429;
       color: #555;
       vertical-align: middle;
       background-color: #fff;
       background-image: none;
       border: 1px solid #ccc;
       border-radius: 3px;
       -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
       box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
     /*box-shadow: 0 0 5px #ccc inset;*/
       -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
       transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-control:focus {
       border-color: #9acc85;
       outline: 0;
       -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
       box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6)
}
.wrap select {
    height:30px;
}
.form-control:-moz-placeholder {
color:#999
}
.form-control::-moz-placeholder {
color:#999;
opacity:1
}
.form-control:-ms-input-placeholder {
color:#999
}
.form-control::-webkit-input-placeholder {
color:#999
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
       cursor: not-allowed;
       background-color: #eee
}
textarea.form-control {
       height: auto
}
.form-group {
       margin-bottom: 15px
}
.radio, .checkbox {
       display: block;
       min-height: 20px;
       padding-left: 20px;
       margin-top: 10px;
       margin-bottom: 10px;
       vertical-align: middle
}
.radio label, .checkbox label {
       display: inline;
       margin-bottom: 0;
       font-weight: normal;
       cursor: pointer
}

.select{ }



.label {
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-size:12px;
       font-family:Verdana, Geneva, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    margin:0 10px 0 10px;
    text-align:left;
}

.myButton2{
border:1px solid #34740e; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;
font-family:arial, helvetica, sans-serif; padding: 4px 8px; 
text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
background-color: #4ba614; background-image: linear-gradient(to bottom, #4ba614, #008c00); cursor:pointer; float:right;
}

.myButton2:hover{
border:1px solid #224b09;
background-color: #36780f; background-image: linear-gradient(to bottom, #36780f, #005900);
}

.myButton2:active {
       position:relative;
       top:1px;
}
  .ui-dialog .ui-dialog-titlebar { background:#3a6805!important;
        }
  .Error1
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6)
}
  .box h3 {
    background: none repeat scroll 0 0 #1f6b08;
    color: #fff;
    font-family: Verdana;
    font-size: 14px;
    margin: 0;
    padding: 8px;
    text-align: center;
}


/*Newly Added by Ajeet Kumar For grid view*/
.dvGrid {
    width: 100%;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #ffffff;
    padding:0!important;
    
}

    .dvGrid table {
        width: 100%;
        
    }
    

    .dvGrid table td {
        border: 1px solid #6da268;
        border-collapse: collapse;
    }
     .dvGrid table th  {
        border: 1px solid #6da268;
        border-collapse: collapse;
        color:#fff;
    }


        .dvGrid table tr:hover {
            background: #c4ddc0!important;
            cursor: pointer;
        }

        .dvGrid table tr td th {
            text-align: center;
            padding: 5px 0;
            font-size: 12px;
        }

        .dvGrid table th a {
            text-decoration: none;
            color: #fff;
            font-size: 12px;
        }

        .dvGrid table tr th {
            background: #306c29;
            border-bottom: 1px solid #46be38;
        }

        .dvGrid table .active {
            background: #f1f0a5;
            cursor: pointer;
        }

.submit_btn{
border:1px solid #34740e; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px; font-size:12px; font-family:arial, helvetica, sans-serif; padding:4px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF; cursor:pointer;
margin-bottom:10px;
background-color: #4ba614; background-image: linear-gradient(to bottom, #4ba614, #008c00);
}

.submit_btn:hover{
border:1px solid #224b09;
background-color: #36780f; background-image: linear-gradient(to bottom, #36780f, #005900);
}

.mod_pop {
    background-color: #fff;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width:100%;
    text-align: center;
    border: 2px solid #2b9b0b;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height:100%;
    box-sizing:border-box;
  
}
.mod_pop h3{
    background: none repeat scroll 0 0 #1f6b07;
    color: #fff;
    font-family: Verdana;
    font-size: 14px;
    margin: 0;
    padding: 8px;
    text-align: center;
}


.txtBox_pop
{
  font-family: Arial, Sans-Serif;
    font-size: 13px;
    border-left: 3px solid #1c9507!important;
    margin-bottom: 10px;
    padding: 5px 3px;
    border: solid 1px #ccc;
    color:#000;
    background:#fff;
    
}


.label {
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-size:12px;
       font-family:Verdana, Geneva, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    text-align:left;
    padding:0 10px;
}


