<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <connectionStrings>
    <!--<add connectionString="server=172.17.109.152;initial catalog=MYNDBPM;uid=MYNDBPM;pwd=FbisY93@;Connect Timeout=120; pooling='true'; Max Pool Size=500" name="conStr" providerName="System.Data.SqlClient" />-->
    <!--<add name="conStr" connectionString="server=MYNDHOSTDBVIP1;initial catalog=DMS;uid=dms;pwd=MyN$d!5H#;Connect Timeout=220; pooling='true'; Max Pool Size=500" providerName="System.Data.SqlClient" />-->
    <!--TTSL Live-->
    <add name="conStr" connectionString="server=172.17.159.44;initial catalog=PEARL_TTSL;uid=PEARL_TTSL;pwd=P&amp;aTt5L22;Connection Timeout=220; pooling='true'; Min Pool Size=10; Max Pool Size=500" providerName="System.Data.SqlClient"/>
    <add name="conStrD" connectionString="server=172.17.159.44;initial catalog=PEARL_TTSL;uid=PEARL_TTSL;pwd=P&amp;aTt5L22;Connection Timeout=220; pooling='true'; Min Pool Size=10; Max Pool Size=500" providerName="System.Data.SqlClient"/>
    <add name="conStrDt" connectionString="server=172.17.159.44;initial catalog=PEARL_TTSL;uid=PEARL_TTSL;pwd=P&amp;aTt5L22;Connection Timeout=220; pooling='true'; Min Pool Size=10; Max Pool Size=500" providerName="System.Data.SqlClient"/>
    <add name="conStrNDt" connectionString="server=172.17.159.44;initial catalog=PEARL_TTSL;uid=PEARL_TTSL;pwd=P&amp;aTt5L22;Connection Timeout=220; pooling='true'; Min Pool Size=10; Max Pool Size=500" providerName="System.Data.SqlClient"/>
    <add name="conStrSRC" connectionString="server=172.17.159.44;initial catalog=PEARL_TTSL;uid=PEARL_TTSL;pwd=P&amp;aTt5L22;Connection Timeout=220; pooling='true'; Min Pool Size=10; Max Pool Size=500" providerName="System.Data.SqlClient"/>
    <add name="conStrLive" connectionString="server=172.17.159.44;initial catalog=PEARL_TTSL;uid=PEARL_TTSL;pwd=P&amp;aTt5L22;Connection Timeout=220; pooling='true'; Min Pool Size=1; Max Pool Size=2000" providerName="System.Data.SqlClient"/>
    <!-- <add  name="conStrEcom" connectionString="server=172.17.109.152;initial catalog=Rawdata;uid=ecom;pwd=ecom123;Connect Timeout=120; pooling='true'; Max Pool Size=500" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="BPMKEY" value="Ajeet.kumar@myndsol.com"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/Myndsaas.myndsolution.com Test" value="7272;True;5044;1;-8587402984850177853"/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
    <add key="com.myndsaas.OCRInvoiceValue" value="https://ttsl.myndsaas.com/OCRInvoiceValue.asmx"/>
    <add key="SiteKey" value="6Lf-LY0UAAAAAH_LcClWa7H3UfXdJ6rFJfXZmU_P"/>
    <add key="SecretKey" value="6Lf-LY0UAAAAAMtmsySIi3gq_RtYKP1RtNGGfvj3"/>
    <add key="Lenskartkey" value="ORGSNDIFGAO030644BHQ"/>
    <add key="TokenExpTime" value="20"/>
    <!--in hours -->
    <add key="ImportantMessageToFlash" value="OFF"/>
    <add key="EIDNotToShow" value=""/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!--<jsonSerialization maxJsonLength="5000000" />-->
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="HttpPostLocalhost"/>
        <add name="HttpSoap"/>
      </protocols>
    </webServices>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="3600" maxRequestLength="8000000"/>
    <!--<httpRuntime executionTimeout="90" maxRequestLength="2000000" useFullyQualifiedRedirectUrl="false" requestLengthDiskThreshold="8192"/>-->
    <!--<httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />-->
    <pages validateRequest="false" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2097151000"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="index.htm"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <httpRedirect enabled="false" destination="https:\\ttsl.myndsaas.com"/>
    <tracing>
      <traceFailedRequests>
        <clear/>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose"/>
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose"/>
            <add provider="ISAPI Extension" verbosity="Verbose"/>
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite" verbosity="Verbose"/>
          </traceAreas>
          <failureDefinitions statusCodes="500,405"/>
        </add>
      </traceFailedRequests>
    </tracing>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint address="http://ttsl.myndsaas.com/ocrinvoicevalue.asmx" binding="basicHttpBinding" bindingConfiguration="OCRInvoiceValueSoap" contract="ServiceReference1.OCRInvoiceValueSoap" name="OCRInvoiceValueSoap"/>
      <endpoint address="http://ttsl.myndsaas.com/ocrinvoicevalue.asmx" binding="customBinding" bindingConfiguration="OCRInvoiceValueSoap12" contract="ServiceReference1.OCRInvoiceValueSoap" name="OCRInvoiceValueSoap12"/>
      <endpoint address="http://ttsl.myndsaas.com/ocrinvoicevalue.asmx" binding="basicHttpBinding" bindingConfiguration="OCRInvoiceValueSoap2" contract="ServiceReference2.OCRInvoiceValueSoap" name="OCRInvoiceValueSoap1"/>
      <endpoint address="http://ttsl.myndsaas.com/ocrinvoicevalue.asmx" binding="customBinding" bindingConfiguration="OCRInvoiceValueSoap121" contract="ServiceReference2.OCRInvoiceValueSoap" name="OCRInvoiceValueSoap121"/>
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="OCRInvoiceValueSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="OCRInvoiceValueSoap1"/>
        <binding name="OCRInvoiceValueSoap2">
          <security mode="Transport"/>
        </binding>
        <binding name="OCRInvoiceValueSoap3"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="OCRInvoiceValueSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
        <binding name="OCRInvoiceValueSoap121">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
      <webHttpBinding>
        <binding name="MobileBinding">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="SecureBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <!--<security mode="Transport">-->
            <transport clientCredentialType="None" proxyCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="DMSService">
        <endpoint behaviorConfiguration="webHttp" binding="webHttpBinding" contract="IDMSService" address="" bindingConfiguration="SecureBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ttsl.myndsaas.com/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="BPMMobile">
        <endpoint behaviorConfiguration="webHttp" binding="webHttpBinding" contract="IBPMMobile" address="" bindingConfiguration="SecureBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ttsl.myndsaas.com/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="BPMCustomWS">
        <endpoint behaviorConfiguration="webHttp" binding="webHttpBinding" contract="IBPMCustomWS" address="" bindingConfiguration="SecureBinding"/>
      </service>
      <service name="MyndBPMWS">
        <endpoint behaviorConfiguration="webHttp" binding="webHttpBinding" contract="IMyndBPMWS" address="" bindingConfiguration="SecureBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ttsl.myndsaas.com/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="BPMMobileOffline">
        <endpoint behaviorConfiguration="webHttp" binding="webHttpBinding" contract="IBPMMobileOffline" address="" bindingConfiguration="SecureBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ttsl.myndsaas.com/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="BPMMobileSyncAPI">
        <endpoint behaviorConfiguration="webHttp" binding="webHttpBinding" contract="IBPMMobileSyncAPI" address="" bindingConfiguration="SecureBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ttsl.myndsaas.com/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="LenskartInward">
        <endpoint address="" behaviorConfiguration="LenskartInwardAspNetAjaxBehavior" binding="webHttpBinding" contract="LenskartInward"/>
      </service>
      <service name="PearlInwardWS">
        <endpoint address="" behaviorConfiguration="PearlInwardWSAspNetAjaxBehavior" binding="webHttpBinding" contract="PearlInwardWS"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
        <behavior name="LenskartInwardAspNetAjaxBehavior">
          <webHttp/>
        </behavior>
        <behavior name="PearlInwardWSAspNetAjaxBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.60623.0" newVersion="4.1.60623.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.3.0" newVersion="5.1.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>